# Sample gitconfig
#

[hub]
    protocol = https
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
    excludesfile = ~/.gitignore
    editor = vim
[help]
    autocorrect = 1
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[alias]
    st = status -sb
    lg = log --graph --decorate --oneline
    lga = log --graph --decorate --oneline --all
