[hub]
    protocol = https
[credential]
    helper = osxkeychain
[alias]
    st = status -sb
    lg = log --graph --decorate --oneline
    lga = log --graph --decorate --oneline --all
    co = checkout
    promote = !$ZSH/bin/git-promote
    wtf     = !$ZSH/bin/git-wtf
    rank-contributors = !$ZSH/bin/git-rank-contributors
    count   = !git shortlog -sn
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
    excludesfile = ~/.gitignore
    editor = vim
[help]
    autocorrect = 1
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[push]
	default = simple
[mergetool]
	keepBackup = false
