<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <!-- touch bar -->
  <dict>
    <key>MiniCustomized</key>
    <array>
      <string>com.apple.system.brightness</string>
      <string>com.apple.system.volume</string>
      <string>com.apple.system.mute</string>
      <string>com.apple.system.screen-lock</string>
    </array>
  </dict>
</plist>
