<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DraftsViewerAttributes</key>
    <dict>
      <key>DisplayInThreadedMode</key>
      <string>YES</string>
      <key>FilterEnabled</key>
      <string>NO</string>
      <key>FocusEnabled</key>
      <string>YES</string>
      <key>MailboxViewingState</key>
      <dict>
        <key>ScrollPositionType</key>
        <integer>0</integer>
      </dict>
      <key>ReadLaterEnabled</key>
      <string>NO</string>
      <key>SelectedFilters</key>
      <array>
        <dict>
          <key>FilterIdentifier</key>
          <string>Unread</string>
        </dict>
      </array>
      <key>SortOrder</key>
      <string>received-date</string>
      <key>SortedDescending</key>
      <string>YES</string>
    </dict>
  </dict>
</plist>
