<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>IncludeDevelopMenu</key>
    <true/>
    <key>WebKitDeveloperExtrasEnabledPreferenceKey</key>
    <true/>
    <key>ShowFullURLInSmartSearchField</key>
    <true/>
    <!-- Only use 1password for password autofill -->
    <key>AutoFillPasswords</key>
    <false/>
  </dict>
</plist>
