<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- Copy email addresses as `foo@example.com` instead of `Foo Bar <foo@example.com>` -->
    <key>AddressesIncludeNameOnPasteboard</key>
    <false/>
    <key>DraftsViewerAttributes</key>
    <dict>
      <key>DisplayInThreadedMode</key>
      <string>yes</string>
      <key>SortOrder</key>
      <string>received-date</string>
      <key>SortedAscending</key>
      <string>yes</string>
    </dict>
  </dict>
</plist>
