<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- Don't show Dashboard as a Space -->
    <key>dashboard-in-overlay</key>
    <true/>
    <!-- Make Dock icons of hidden applications translucent -->
    <key>showhidden</key>
    <true/>
    <key>autohide</key>
    <true/>
    <!-- Speed up Mission Control animations -->
    <key>expose-animation-duration</key>
    <real>0.1</real>
    <!--
    Hot corners
    Possible values:
     0: no-op
     2: Mission Control
     3: Show application windows
     4: Desktop
     5: Start screen saver
     6: Disable screen saver
     7: Dashboard
    10: Put display to sleep
    11: Launchpad
    12: Notification Center
    -->
    <!-- Top left screen corner: sleep display -->
    <key>wvous-tl-corner</key>
    <integer>10</integer>
    <key>wvous-tl-modifier</key>
    <integer>0</integer>
    <!-- Top right screen corner: Notification center -->
    <key>wvous-tr-corner</key>
    <integer>12</integer>
    <key>wvous-tr-modifier</key>
    <integer>0</integer>
    <!-- Bottom left screen corner: Launchpad -->
    <key>wvous-bl-corner</key>
    <integer>11</integer>
    <key>wvous-bl-modifier</key>
    <integer>0</integer>
    <!-- Bottom right screen corner: Desktop -->
    <key>wvous-bl-corner</key>
    <integer>4</integer>
    <key>wvous-bl-modifier</key>
    <integer>0</integer>
  </dict>
</plist>
