<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>LAVAtakeArea</key>
    <data>
	eyJjYXJib25Nb2RpZmllcnMiOjc2OCwiY2FyYm9uS2V5IjoyMX0=
	</data>
    <key>LAVAtakeFullscreen</key>
    <data>
	eyJjYXJib25Nb2RpZmllcnMiOjc2OCwiY2FyYm9uS2V5IjoyMH0=
	</data>
    <key>MGR001</key>
    <true/>
    <key>afterScreenshotActions</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
    </array>
    <key>afterVideoActions</key>
    <array>
      <integer>0</integer>
      <integer>5</integer>
    </array>
    <key>analyticsAllowed</key>
    <true/>
    <key>autoClosePopup</key>
    <true/>
    <key>captureWindowShadow</key>
    <true/>
    <key>captureWithoutDesktopIcons</key>
    <true/>
    <key>crosshairMode</key>
    <integer>0</integer>
    <key>cursorHighlightAnimate</key>
    <true/>
    <key>cursorHighlightSize</key>
    <integer>25</integer>
    <key>cursorHighlightStyle</key>
    <integer>0</integer>
    <key>deletePopupAfterDragging</key>
    <true/>
    <key>displayRecordingTime</key>
    <true/>
    <key>doNotDisturbWhileRecording</key>
    <true/>
    <key>downscaleRetinaVideos</key>
    <true/>
    <key>exportPath</key>
    <string>/Users/cameronlittle/Downloads</string>
    <key>freezeScreen</key>
    <true/>
    <key>gifFPS</key>
    <integer>15</integer>
    <key>gifQuality</key>
    <integer>70</integer>
    <key>highlightClicks</key>
    <true/>
    <key>mediaNameTemplate</key>
    <array>
      <string>%t</string>
      <string> - </string>
      <string>%a</string>
      <string> - </string>
      <string>%y</string>
      <string>-</string>
      <string>%m</string>
      <string>-</string>
      <string>%d</string>
      <string> at </string>
      <string>%H</string>
      <string>.</string>
      <string>%M</string>
      <string>.</string>
      <string>%S</string>
    </array>
    <key>popupAutoCloseInterval</key>
    <integer>30</integer>
    <key>popupAutoCloseMode</key>
    <integer>0</integer>
    <key>popupOnLeftEdge</key>
    <false/>
    <key>popupSize</key>
    <integer>1</integer>
    <key>showKeystrokes</key>
    <true/>
    <key>showMenubarIcon</key>
    <true/>
    <key>stopRecordingPopupDisplayed</key>
    <true/>
    <key>transparentWindowBackground</key>
    <true/>
    <key>videoFPS</key>
    <integer>30</integer>
  </dict>
</plist>
