# Save Autorun Definitions
#
# For more details on how to create definitions see:
# https://atom.io/packages/save-autorun

#"**.test": "command"
"*": {
    "**/*.ts{,x}": "$(npm bin)/tslint --force --fix ${path}"
}
