"*":
  "activate-power-mode": {}
  "atom-typescript":
    showSemanticView: true
  "autocomplete-plus": {}
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "git-plus"
      "linter-scss-lint"
      "platformio-ide"
      "platformio-ide-terminal"
      "color-picker"
      "build"
      "autocomplete-python"
      "go-to-line"
      "jsonlint"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "vendor"
    ]
    packagesWithKeymapsDisabled: [
      "tree-view"
    ]
    projectHome: "/Users/cameronlittle/Projects"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Fira Code, menlo"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 120
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "c3d84b23-10eb-9ba6-49fb-96acda42fdcf"
  "highlight-selected":
    lightTheme: true
  jsonlint: {}
  linter:
    errorPanelHeight: 24
  "linter-eslint":
    fixOnSave: true
  "linter-stylelint":
    disableWhenNoConfig: true
  "linter-tslint": {}
  minimap:
    plugins:
      "identifier-highlight": true
      "identifier-highlightDecorationsZIndex": 0
  "one-dark-ui": {}
  pigments:
    groupPaletteColors: "by file"
    markerType: "dot"
    mergeColorDuplicates: true
  "prettier-atom":
    singleQuote: true
    tabWidth: 4
    trailingComma: true
  react:
    enabledForAllJavascriptFiles: true
  "relative-numbers": {}
  "save-session":
    dataSaveFolder: "/Users/cameronlittle/.atom/packages/save-session/projects"
  "tab-switcher":
    fadeInDelay: 0.05
  "tool-bar":
    position: "Left"
  "tree-view":
    squashDirectoryNames: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace: {}
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".editorconfig.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".ini.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.jsx.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".shell-session.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".shell.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".source.ts":
  editor:
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
".source.tsx":
  editor:
    preferredLineLength: 120
    tabLength: 4
