"*":
  "activate-power-mode": {}
  "atom-typescript":
    showSemanticView: true
  "autocomplete-plus": {}
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "git-plus"
      "linter-scss-lint"
      "platformio-ide"
      "platformio-ide-terminal"
      "color-picker"
      "build"
      "autocomplete-python"
      "go-to-line"
      "jsonlint"
      "background-tips"
      "metrics"
      "es-identifier-highlight"
      "es6-javascript"
      "css-snippets"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "vendor"
    ]
    packagesWithKeymapsDisabled: [
      "tree-view"
    ]
    projectHome: "/Users/cameronlittle/Projects"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Fira Code, menlo"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 120
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "c3d84b23-10eb-9ba6-49fb-96acda42fdcf"
  "highlight-selected":
    lightTheme: true
  jsonlint: {}
  linter:
    errorPanelHeight: 24
  "linter-eslint":
    fixOnSave: true
  "linter-stylelint":
    disableWhenNoConfig: true
  "linter-tslint": {}
  minimap:
    plugins:
      "identifier-highlight": true
      "identifier-highlightDecorationsZIndex": 0
  "one-dark-ui": {}
  pigments:
    groupPaletteColors: "by file"
    markerType: "dot"
    mergeColorDuplicates: true
  "prettier-atom":
    singleQuote: true
    tabWidth: 4
    trailingComma: true
  react:
    enabledForAllJavascriptFiles: true
  "relative-numbers": {}
  "save-autorun":
    notifications: false
  "save-session":
    dataSaveFolder: "/Users/cameronlittle/.atom/packages/save-session/projects"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "tab-switcher":
    fadeInDelay: 0.05
  "tool-bar":
    position: "Left"
  "tree-view":
    squashDirectoryNames: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
