'body':
    'ctrl-tab': 'pane:show-next-item'
    'ctrl-tab ^ctrl': 'unset!'
    'ctrl-shift-tab': 'pane:show-previous-item'
    'ctrl-shift-tab ^ctrl': 'unset!'

'atom-text-editor.vim-mode-plus-search':
    'cmd-enter': 'vim-mode-plus-user:project-find-from-search'

'atom-text-editor.vim-mode-plus.normal-mode':
    ':': 'vim-mode-plus-ex-mode:open'
    '!': 'vim-mode-plus-ex-mode:toggle-setting'
