[global_config]
[keybindings]
[profiles]
  [[default]]
    scrollbar_position = hidden
    visible_bell = True
    background_darkness = 0.9
    scrollback_lines = 1000
    background_type = transparent
    show_titlebar = False
    copy_on_selection = True
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
