[global_config]
[keybindings]
[profiles]
  [[default]]
    scrollbar_position = hidden
    font = Droid Sans Mono 10
    visible_bell = True
    background_darkness = 0.88
    scrollback_lines = 1000
    background_type = transparent
    icon_bell = False
    show_titlebar = False
    copy_on_selection = True
  [[juicebox]]
    scrollbar_position = hidden
    exit_action = restart
    visible_bell = True
    custom_command = ssh juicebox -t startirc
    background_type = transparent
    use_custom_command = True
    icon_bell = False
    show_titlebar = False
    background_darkness = 0.8
    copy_on_selection = True
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
